
@media (max-width: 375px) {
  #blog-card {
    width: 90%;      /* instead of fixed 360px */
    height: auto;    /* let it grow naturally */
  }

  h2 {
    font-size: 1.1rem; /* slightly smaller */
  }

  #subtitle {
    font-size: 0.9rem;
  }
}

body{
margin: 0;
padding: 0;
line-height: 1.6;
word-spacing: 1.4px;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: hsl(47, 88%, 63%);
font-family: 'Figtree', sans-serif;
font-size: 16px;
color: hsl(0, 0%, 7%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


#wrapper{
    padding: 10px;
}

a{
   text-decoration: none; 
   color: hsl(0, 0%, 7%) ;
}

a:hover{
    color: hsl(47, 88%, 63%);
}

#blog-card {
    width: 100%;
    max-width: 360px; 
    height: auto;     
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    border-radius: 18px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    border: 1.5px solid black;
}

#image-wrapper{
    margin-bottom: 10px;
}

#graphics-img{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 200px;   
}

/* Update (26/09) - Made changes to the image on the card this time when the image shrinks, the image doesnt shrink but the image shifts when the page gets smaller, keeping the original aspect ratio but ensuring the image doesnt smaller the smaller the page gets.*/

#published{
    color: hsl(0, 0%, 7%);
}

#subtitle{
   color: hsl(0, 0%, 42%);
   margin-bottom: 21px;
}
/* Update (26/09): Gave a margin at the bottom to space at the profile picture from the subtitle. */


#learning {
  display: inline-block;     
  background-color: hsl(47, 88%, 63%);  
  padding: 4px 14px;          
  border-radius: 5px;        
  font-weight: 800;         
}

#profile-container{
    display: flex;
    align-items: center;
}
/* Update (26/09): Removed the 30px margin as it was taking up unnecessary space and also didnt contribute to the solution*/


#profile-icon{
    height: 36px;
    width: 36px;
    margin-right: 15px;
}
/* Update (26/09): Decreased the overall size of the profile photo to match the provided design preview, increased the right margin of the image to separate the name of the profile from the profile photo */


#profile-name{
    font-weight: 800;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    font-weight: 500;
}
    
/* .attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution a:hover{
    font-weight: 800;
} */
/* Removed attribution section */